.contact {
    background: url('../images/contact-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 0;
}

.contact-content {
    max-width: 825px;
}

.contact-container {
    padding: 0 30px;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-title {
    font-family: 'Cormorant', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.contact-text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.contact-input label input {
    width: 350px;
    height: 45px;
    margin-bottom: 24px;
    outline: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #0b1919;
    background-color: #FFFFFF;
    padding: 10px 16px;
    transition: all 0.4s ease;
}

.contact-input label input::placeholder {
    height: 24px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #899D9D;
}

.contact-input label input:hover {
    background-color: #899D9D;
}

.contact-input label input:hover::placeholder {
    color: #fff;
}

.contact-input label input:focus {
    outline: #83a440 solid 1px;
    outline-offset: 2px;
}

.contact-btn {
    background-color: #BAE249;
    padding: 12px 26px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #0B1919;
    outline: none;
    border: none;
    transition: all 0.4s ease;
}

.contact-btn:hover {
    cursor: pointer;
    background-color: #91AC46;
    color: #0B1919;
}

.contact-btn:focus {
    outline: #83a440 solid 1px;
    outline-offset: 2px;
}

.contact-btn:active {
    background-color: #688B05;
    outline: none;
}