.footer {
    background: #0B1919;
}

.footer-container {
    padding: 20px 0;
}

.footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 34px;
}


.footer-link::after {
    content: '';
    width: 20px;
    height: 16px;
    display: inline-block;
    background-color: #899D9D;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
}




.footer-list .footer-item:nth-child(1) .footer-link::after {
    mask: url('../images/youtube.svg') no-repeat center;
    -webkit-mask: url('../images/youtube.svg') no-repeat center;
    transition: background-color 0.3s ease;
}

.footer-list .footer-item:nth-child(2) .footer-link::after {
    mask: url('../images/instagram.svg') no-repeat center;
    -webkit-mask: url('../images/instagram.svg') no-repeat center;
    transition: background-color 0.3s ease;
    height: 20px;
}

.footer-list .footer-item:nth-child(3) .footer-link::after {
    mask: url('../images/facebook.svg') no-repeat center;
    -webkit-mask: url('../images/facebook.svg') no-repeat center;
    transition: background-color 0.3s ease;
    width: 18px;
    height: 18px;
}

.footer-list .footer-item:nth-child(4) .footer-link::after {
    mask: url('../images/twitter.svg') no-repeat center;
    -webkit-mask: url('../images/twitter.svg') no-repeat center;
    transition: background-color 0.3s ease;
    height: 18px;
}

.footer-link:hover::after {
    background-color:#BAE249;

}

.footer-link:active::after {
    background-color:#688B05;

}

.footer-text {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #899D9D;
    padding: 3px 0;
    background: #1d2f30;
}