.header {
    padding: 16px 0;
    background-color: #1D2F30;
}

.header-container {
    padding: 0 30px;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    margin-right: 125px;
}

.header-nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 64px;
}

.header-nav-link {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    transition: all 0.3s ease;
}

.header-nav-link:hover {
    color: #BAE249
}

.header-nav-link:active {
    color: #688B05
}

.search {
    transition: all 0.3s ease;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

.search::before {
    width: 24px;
    height: 24px;
    content: '';
    background-image: url(../images/search.svg);
    display: inline-block;
}

.search:hover {
    opacity: 0.7;
    outline: none;
    border: none;
}

.search:active {
    outline: none;
    border: none;
    opacity: 0.5;
}


.header-auth {
    display: flex;
    gap: 64px;
    align-items: center;
}

.log-in {
    outline: none;
    border: none;
}

.log-in:hover {
    opacity: 0.7;
    transition: all 0.3s ease;
}

.log-in:active {
    opacity: 0.5;
    transition: all 0.3s ease;
}

.log-in::before {
    width: 24px;
    height: 24px;
    content: '';
    background-image: url(../images/log-in.svg);
    display: inline-block;
}