.new-artifacts {
    background: #1D2F30;
    padding-bottom: 60px;
}



.new-artifacts-title {
    font-family: 'Cormorant', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.new-artifacts-container {
    max-width: 1100px;
    margin: auto;
    padding: 0 30px;
}

.artifacts-content {
    padding: 16px 16px 24px 16px;
    background: #BAE249;
    max-width: 255px;
    display: flex;
    flex-direction: column;
}

.artifacts-content-title {
    font-family: 'Cormorant', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 8px;
    line-height: 150%;
    color: #1D2F30;
}

.artifacts-content-text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #506829;
}

.artifacts-content-link {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    margin-top: auto;
    transition: all 0.3s ease;
    max-width: max-content;
    color: #0B1919;
}

.artifacts-content-link::after {
    content: '';
    display: inline-block;
    margin-left: 8px;
    width: 44px;
    height: 15px;
    background-color: #0B1919;
    mask: url('../images/Arrow.svg') no-repeat center;
    -webkit-mask: url('../images/Arrow.svg') no-repeat center;
    transition: background-color 0.3s ease;
}

.artifacts-content-link:hover::after,
.artifacts-content-link:hover:focus-visible::after {
    background-color: #91ac46;
}

.artifacts-content-link:active::after,
.artifacts-content-link:active:focus-visible::after {
    background-color: #0B1919;
}

.artifacts-content-link:hover {
    color: #91ac46;
}

.artifacts-content-link:active {
    color: #0B1919;
}

.artifacts-content-link:active:focus-visible {
    color: #0B1919;
}

.artifacts {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.new-artifacts-img {
    background-color: #0b1919;
    align-items: center;
    display: flex;
}

.new-artifacts-img img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    transition: padding 0.3s ease;
    padding: 16px;
}

.artifacts-img-text {
    display: none;
}