@import url('header.css');
@import url('hero.css');
@import url('swiper-section.css');
@import url('new-artifacts.css');
@import url('contact.css');
@import url('footer.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* button {
    border: none;
    background: none;
    cursor: pointer;
} */