.swiper-section {
    padding: 60px 0 57px;
    background: #1D2F30;
}

.swiper {
    max-width: 1100px;
    padding: 0 30px !important;
}

.swiper-wrapper {
    -webkit-transition: 1.25s cubic-bezier(.2, .6, 0, 1) !important;
    transition: 1.25s cubic-bezier(.2, .6, 0, 1) !important;
}

.swiper-slide {
    padding: 0 !important;
}

.card {
    background: #1D2F30;
    border: 1px solid #0B1919;
    padding-bottom: 9px;
   
}

.card-img {
    height: 180px;
    background: #0B1919;
    position: relative;
}

.card-number {
    position: absolute;
    text-align: center;
    top: 16px;
    left: 16px;
    width: 25px;
    height: 25px;
    border: 1px solid #899D9D;
    border-radius: 50%;
}

.card-number span {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #899D9D;
}

.card-img img {
    margin: auto;
    display: block;
    height: auto;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    padding: 30px 15px;
}

.card-content {
    min-height: 330px;
    flex-wrap: wrap;
    display: flex;
    padding: 15px;
}

.card-title {
    font-family: 'Cormorant', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    margin-top: 8px;
    color: #FFFFFF;
}

.card-text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 15px;
    color: #899D9D;
}

.card-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    max-width: min-content;
    display: block;
    font-size: 16px;
    line-height: 150%;
    margin-top: auto;
    padding: 11px 29px;
    color: #BAE249;
    border: 1px solid #BAE249;
    transition: all 0.3s ease;
}

.card-link:hover {
    background: #BAE249;
    color: #0B1919
}

.card-link:active {
    background: #688B05;
    color: #0B1919
}

.swiper-button-next,
.swiper-button-prev {
    margin: 0 !important;
}

.swiper-pagination {
    position: static !important;
    font-family: 'Cormorant', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF !important;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    width: 10% !important;
}

.swiper-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 26px;
}

.swiper-button-next,
.swiper-button-prev {
    position: static !important;
    height: 0 !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: inline-block;
    content: '' !important;
    width: 26px;
    margin-top: 5px;
    height: 16px;
    transition: all 0.3s ease !important;
}

.swiper-button-next:after {
    background-color: #899D9D;
    mask: url('../images/Swiper-Arrow-Next.svg') no-repeat center !important;
    -webkit-mask: url('../Swiper-Arrow-Next.svg') no-repeat center;
    transition: background-color 0.3s ease;
}

.swiper-button-prev:after {
    background-color: #899D9D;
    mask: url('../images/Swiper-Arrow-Prev.svg') no-repeat center !important;
    -webkit-mask: url('../Swiper-Arrow-Prev.svg') no-repeat center;
    transition: background-color 0.3s ease;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
    transform: scale(1.1);
    background-color: #BAE249;
}

.swiper-button-prev:active::after,
.swiper-button-next:active:focus-visible::after {
    background-color: #688b05;
}

.swiper-button-next:active::after,
.swiper-button-next:active:focus-visible::after {
    background-color: #688b05;
}

.swiper-button-next:active,
.swiper-button-next:active:focus-visible {
    color: #688b05;
}

.swiper-button-prev:active,
.swiper-button-prev:active:focus-visible {
    color: #688b05;
}

/* Адаптивные стили для разных размеров экрана */

/* Мобильные устройства */