@media only screen and (max-width: 768px) {
    .swiper-button-next {
        position: static !important;
        display: none !important;
    }

    .swiper-button-prev {
        position: static !important;
        display: none !important;
    }

     .swiper-pagination-bullet:not(:last-child) {
        margin-right: 20px !important;
    }

    .swiper-button {
        margin-top: 0;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        width: 100% !important;
    }
    

    .swiper-pagination-bullet {
        height: 10px !important;
        width: 10px !important;
    }

    .swiper-pagination-bullet {
        background: #0B1919 !important;

    }
    .swiper-pagination-bullet-active {
        background: #BAE249 !important;
        
    }

}